# <IfModule mod_rewrite.c>
#   RewriteEngine On

#   RewriteCond %{REQUEST_FILENAME} !-f
#   RewriteCond %{REQUEST_FILENAME} !-d

#   # Prevent rewriting API requests
#   RewriteRule ^api/(.*)$ - [L,QSA]
#   RewriteRule ^(.*)$ public/$1 [L]
# </IfModule>

<IfModule mod_rewrite.c>
  RewriteEngine On

  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d

  # Prevent rewriting API requests
  RewriteRule ^api/(.*)$ - [QSA]
  RewriteRule ^(.*)$ public/$1 [L]
</IfModule>

# <IfModule mod_rewrite.c>
#     RewriteEngine On

#     # Handle API requests
#     RewriteCond %{REQUEST_URI} ^/api/ [NC]
#     RewriteCond %{REQUEST_FILENAME} !-f
#     RewriteCond %{REQUEST_FILENAME} !-d
#     RewriteRule ^api/(.*)$ public/index.php [L]

#     # Handle all other requests
#     RewriteCond %{REQUEST_FILENAME} !-f
#     RewriteCond %{REQUEST_FILENAME} !-d
#     RewriteRule ^(.*)$ public/$1 [L]
# </IfModule>
