
.dashboard-header {
    margin-bottom: 20px;
}
.solution-status .card {
    margin-bottom: 10px;
}
.tower .card-body {
    text-align: center;
}
.add-tower-btn {
    margin-top: 20px;
    text-align: center;
}
.side{
    height: 100vh;
}
.nutcard {
    margin: 10px;
    width: 90%;
    height: max-content;
    border-radius: 10px;
    border: 1px solid #ddd;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}
